html {
    font-size: 100%;
    /* padding: 100%; */
    /* overflow: hidden; */
}

* {
    text-decoration: none;
}

body {
    /* /* background: linear-gradient(45deg, rgb(44, 41, 43), rgb(116, 231, 8), rgb(233, 62, 248), rgb(120, 240, 8));
    color: springgreen; */
    background-repeat: no-repeat;
    background-size: 100% 200%;
    /* background-color: #00DBDE; */
    background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%);
}

.logPg {
    /* width: 100%; */
    /* position: relative; */
    /* z-index: 1; */
    /* display: flex; */
    list-style: none;
    text-align: center;
    width: 50vw;
    margin: auto;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
    /* padding: 2vw; */
    margin-top: 5vh;
    /* height: 70vh; */
}

.login {
    margin: 5px auto;
    border: none;
    /* background: rgba(0, 128, 0, 0.8); */
    /* width: 50%; */
    /* height: 70px; */
    box-shadow: 0 6px 16px 0 rgb(137, 141, 137);
    /* position: relative; */
    /* z-index: 1; */
    /* background: #fff; */
    color: #f0f0f0;
    /* display: inline; */
    /* color: inherit; */
    font-weight: 700;
    font-size: 4rem;
    padding: 0.3rem 0;
    text-align: center;
    margin-bottom: 1rem;
}

.logInp {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1.5vw;
    /* row-gap: 3rem; */
    width: 40vw;
}


/* input:hover {
    border: 10px rgb(167, 28, 28);
} */

.log1 {
    width: 7rem;
    font-size: 1.5rem;
    margin: auto;
    padding: 0.5rem 0px;
    cursor: pointer;
    background: lime;
    border-radius: 5px;
    border: 3px white;
    box-shadow: 0 6px 16px 0 rgb(0 200 0 / 20%)
}

.log1:hover {
    box-shadow: 0 10px 20px 0 rgb(245, 19, 196);
    background: rgb(245, 19, 196);
    color: white;
    border: 5px white;
}

a {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(230, 22, 126);
    font-size: 18px;
}

.notice {
    color: maroon;
    font-size: 1.3rem;
}


/* .alrd {
    padding-bottom: 1rem;
    font-size: 1rem;
} */

@media screen and (max-width: 550px) {
    html {
        font-size: 79%;
    }
    .logPg {
        width: 95%;
        margin-top: 10vh;
        height: 90%;
    }
    .logInp {
        width: 80%;
        padding: 1.5vw;
        /* row-gap: 4rem; */
    }
    .login {
        margin-bottom: 3rem;
    }
}

html {
    /* font-size: 100%; */
    /* padding: 100%; */
    /* overflow: hidden; */
}

* {
    text-decoration: none;
}

body {
    /* /* background: linear-gradient(45deg, rgb(44, 41, 43), rgb(116, 231, 8), rgb(233, 62, 248), rgb(120, 240, 8));
    color: springgreen; */
    background-repeat: no-repeat;
    background-size: 100% 200%;
    /* background-color: #00DBDE; */
    background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%);
}

.btn1 {
    /* width: 100%; */
    /* position: relative; */
    /* z-index: 1; */
    /* display: flex; */
    list-style: none;
    text-align: center;
    width: 50vw;
    margin: auto;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
    /* padding: 2vw; */
    margin-top: 5vh;
    /* height: 70vh; */
}

.signup {
    margin: 5px auto;
    border: none;
    /* background: rgba(0, 128, 0, 0.8); */
    /* width: 50%; */
    /* height: 70px; */
    box-shadow: 0 6px 16px 0 rgb(137, 141, 137);
    /* position: relative; */
    /* z-index: 1; */
    /* background: #fff; */
    color: #f0f0f0;
    /* display: inline; */
    /* color: inherit; */
    font-weight: 700;
    font-size: 4rem;
    padding: 0.3rem 0;
    text-align: center;
    margin-bottom: 1rem;
}

.sign1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1.5vw;
    /* row-gap: 3rem; */
    width: 40vw;
}

.input {
    padding: 0.8rem;
    font-size: 1rem;
    margin: 1rem;
    /* padding: 1.5vw; */
    background: rgba(255, 255, 255, 0.5);
    border: none;
}


/* input:hover {
    border: 10px rgb(167, 28, 28);
} */

.create {
    width: 7rem;
    font-size: 1.5rem;
    margin: auto;
    padding: 0.5rem 0px;
    cursor: pointer;
    background: lime;
    border-radius: 5px;
    border: 3px white;
    box-shadow: 0 6px 16px 0 rgb(0 200 0 / 20%);
    /* display:flex ; */
    /* flex-direction: row; */
}

.btns {
    display: flex;
    flex-direction: row;
}

.goLogin {
    width: 4rem;
    font-size: 1.5rem;
    /* margin: auto; */
    padding: 0.2rem 0px;
    cursor: pointer;
    background: maroon;
    border-radius: 5px;
    border: 3px white;
    box-shadow: 0 6px 16px 0 rgb(200 0 0 / 20%);
    visibility: hidden;
    color: black;
}

.goLogin:hover {
    box-shadow: 0 10px 20px 0 rgb(245, 19, 196);
    background: rgb(245, 19, 196);
    color: greenyellow;
    border: 5px white;
    /* visibility:hidden; */
}

.create:hover {
    box-shadow: 0 10px 20px 0 rgb(245, 19, 196);
    background: rgb(245, 19, 196);
    color: white;
    border: 5px white;
}

a {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(230, 22, 126);
    font-size: 18px;
}

.alrd {
    padding-bottom: 1rem;
    font-size: 1rem;
}

.success {
    font-size: 1rem;
    margin: 1rem;
}

.notice {
    color: maroon;
    font-size: 1.3rem;
}

@media screen and (max-width: 550px) {
    html {
        font-size: 79%;
    }
    .btn1 {
        width: 95%;
        margin-top: 10vh;
        height: 90%;
    }
    .sign1 {
        width: 80%;
        padding: 1.5vw;
        /* row-gap: 4rem; */
    }
    .alrd {
        /* padding-bottom: rem; */
        font-size: 1.5rem;
    }
    .signup {
        margin-bottom: 3rem;
    }
}